body {
  padding-top: 50px;
  margin-bottom: 100px;
}

.navbar-nav li.current a {
  background-color: #97310e;
  color: #FFF;
}

.navbar-nav li.current .dropdown-menu a {
  background-color: #FFF;
}

.navbar-nav li.current .dropdown-menu a:hover {
  background-color: #dd4814;
}

td.score, th.score {
  text-align: center;
}

#graph-container {
  width: 100%;
  height: 600px;
}

.row.language {
  margin-top: 50px;
}

#faq, #suggestion {
  margin-top: 50px;
}

#suggestion {
  margin-left: -15px;
}

#framework .panel-body {
  text-size: 24pt;
}
