body {
  padding-top: 50px;
}

.navbar-nav li.current a {
  background-color: #97310e;
}

.navbar-nav li.current .dropdown-menu a {
  background-color: #FFF;
}

.navbar-nav li.current .dropdown-menu a:hover {
  background-color: #dd4814;
}

td.score, th.score {
  text-align: center;
}

#legend {
  background-color: white;
  color: #000;
}

#legend .action {
  color: black;
  opacity: 0.6;
}
